<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390442339239-230gdjosrnm4lbrvvao8nprg3jkl3vlh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390442339239-230gdjosrnm4lbrvvao8nprg3jkl3vlh</string>
	<key>API_KEY</key>
	<string>AIzaSyCmP9A90DqGcNHu4DmAtvmoDUSLhJq-_OI</string>
	<key>GCM_SENDER_ID</key>
	<string>390442339239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paulorod07.firebird</string>
	<key>PROJECT_ID</key>
	<string>firebird-c929e</string>
	<key>STORAGE_BUCKET</key>
	<string>firebird-c929e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390442339239:ios:9574c697f3b85559c84482</string>
</dict>
</plist>